footer {
  background-color: #630f16;
  color: white;
  text-align: center;
  margin-top: 20px;
}

/* styles/footer.css */
/* Footer.css */

.site-footer {
  padding: 20px;
  text-align: center;
  background-color: #111;
  color: #fff;
  position: relative;
}

.admin-link-visible {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  color: #ffffff;
  text-decoration: none;
  padding: 2px 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transition: background 0.3s;
}

.admin-link-visible:hover {
  background: rgba(255, 255, 255, 0.3);
}

