footer {
  background-color: #630f16;
  color: white;
  text-align: center;
  margin-top: 20px;
}

/* styles/footer.css */
/* Footer.css */

.site-footer {
  padding: 20px;
  text-align: center;
  background-color: #111;
  color: #fff;
  position: relative;
}

/* Скрит бутон */
.admin-link-hidden {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.05); /* почти невидим */
  text-decoration: none;
  transition: color 0.3s ease;
}

.admin-link-hidden:hover {
  color: #fff; /* При ховър да става видим */
}

