.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #630f16;
  color: white;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo {
  height: 70px;
  /* по-голямо лого */
  margin-right: 15px;
}

.site-title {
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Georgia', serif;
  color: #f8f8f8;
}

.nav a {
  margin-left: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  transition: color 0.2s ease;
}

.nav a:hover {
  color: #f4c2c2;
}

.cart-count {
  background: crimson;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 0.8rem;
  margin-left: 4px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

@media (max-width: 1036px) {
  .nav {
 position: absolute;
    top: 100%;
    right: 1rem;
    border-radius: 1em;
    flex-direction: column;
    background-color: #630f16;
    display: none;
    padding: 1rem 2rem;
    text-align: center;
    gap: 1em;
    width: 12em;
    z-index: 1000;
  }

  .nav.open {
    display: flex;
  }

  .nav a {
    margin-left: 0;
    font-size: 1.2rem;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1100;
  }

}